* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-weight: normal;
	font-family: 'Comic Sans MS';
}
section {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	background-color: #273B44;
	height: 100vh;
}
section:nth-child(2n) {
	background-color: #2E4B74;
}
.intro {
	height: 90vh;
}
.content {
	display:table-cell;
	vertical-align:middle;
}
h1 {
	font-size:4em;
	display: block;
	color: white;
	font-weight: 300;
}
p {
	font-size: 1.5em;
	font-weight: 500;
	color: #C3CAD9;
}
footer {
	padding: 1% 5%;
	text-align: center;
	background-color: #373B44;
	color: white;
}